<div class="container ">
  <div style="width: 80%;height:100%;padding-top: 5%; margin: 0 auto;">
    <p class="orange-text text-lighten-1 flow-text">Your upgraded seats PNR number</p>
      <%= form_tag bookings_path do %>
        <div class="row">
          <table class="highlight bordered center">
            <thead>
             <tr>
                 <th data-field="seats">S.No</th>
                 <th data-field="seats">PNR number</th>
                 <th data-field="amount">Amount</th>
             </tr>
           </thead>
           <tbody>
            <% @seats.each_with_index do |seat, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= seat.pnr_number %></td>
              </tr>
            <% end -%>
           </tbody>
          </table>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action" id='confirm'>Done
            </button>
        </div>
      <% end -%>
  </div>
  <div id="search_result">

  </div>
</div>
