<div class="container signup">
  <h4>Seat Configuration</h4>
  <div class="row">
    <div class="col-md-2"><b>Airplane Name</b></div>
    <div class="col-md-10"><%= @airplane.name %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><b>Airplane Type</b></div>
    <div class="col-md-10"><%= @airplane.airplane_type %></div>
  </div>
</div>
