select {
  display: inline;
}

img {
  border: 0;
  width: 1910px;
  height: 600px;
}
.airplane.container {
  min-height: 23em;
  width: 35% !important;
}
.field_with_errors input{
  border: 1px solid red !important;
}
