$my-grey: #acacac;

.body {
  min-height: 30em;
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  display: inline;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
 [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static;
    left: 0px;
    opacity: 1;
  }

  [type="radio"]:not(:checked), [type="radio"]:checked {
    position: static;
    left: 0px;
    opacity: 1;
  }



