$my-black: #000;
$my-white: #fff;

.home-body {
  background: image-url("united-airline-bg.jpg") no-repeat fixed;
  margin: -4em 0;
  padding: 4em 0;
}

.container {
  width: 85%;
}

.top-nav {
  .no-hover:hover {
    background-color: transparent;
  }
}

.btn.auth-btn {
  margin-left: 1em;
  margin-right: 1em;
}

.home-input {
  background-color: $my-white !important;
  border-radius: 0.4em !important;
  padding-left: 0.4em;
  padding-right: 0.4em;

  .caret {
    display: none;
  }
}

.fill {
  width: 100%;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: static;
  left: 0px;
  opacity: 1;
}
